<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capa_datos.Properties.Settings.bodeguitaBD" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=bodeguitaBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>